<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#1d1280"/>
  <title>Restaurant Apps</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  <title>Chasper Restaurant</title>
  
</head>

<body>
  <header class="app-bar">
    <a href="#mainContent" class="skip-to-content">Direct main menu</a>
    
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>CASPER Restaurant</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/fav">Favorite</a></li>
        <li><a href="https://www.instagram.com/n.indryy/">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="mainContent" tabindex="0">

    <!-- hero jumbotron-->
    <div class="hero">
      <img src="./images/heros/hero-image_3.jpg" width="450" alt="rest image" class="jumbo-image" />
      <h1>Welcome to ChasperRest</h1>
      <p>Find your favorite restaurant<br></p>
      <a href="#mainContent" class="btn"><Strong>HERE</Strong></a>
    </div>
    <!-- hero jumbotron -->
  </main>
  <footer>
    <p>&copy; 2024 - ChasperRest</p>
  </footer>
</body>

</html>
